main {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 80px 60px 60px 1fr;
    grid-template-areas:
        "header header"
        "sidebar tools"
        "sidebar tabs"
        "sidebar canvas";

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #04090d;

    &:has(.empty-state) {
        grid-template-rows: 80px 1fr;
        grid-template-areas:
            "header header"
            "sidebar empty";
    }

    header {
        grid-area: header;
        color: white;
        font-size: 30px;
        border-bottom: 1px solid #6e6e6e;

        h1 {
            margin: 0;
            padding: 15px 20px;
            font-weight: 500;
        }
    }



    .empty-state {
        grid-area: empty;
        background-color: rgba(0, 0, 0, 0.212);
        color: gray;
        border: 2px dashed #bdc3c7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border-radius: 5px;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }

    .tools {
        grid-area: tools;
        background-color: #0d1118;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        border-bottom: 1px solid #6e6e6e;

        .tools-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .modes {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                overflow: hidden;

                button {
                    background-color: #2980b9;
                    color: white;
                    padding: 5px 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: #135a8a;
                    }

                    &.active {
                        background-color: #3498db;
                    }

                }
            }

            .brush-size {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border: 1px solid #bdc3c7;
                border-radius: 5px;
                padding: 5px 10px;

                input[type="range"] {
                    width: 100px;
                    height: 10px;
                    background: #2980b9;
                    border-radius: 5px;
                    outline: none;
                    cursor: pointer;
                    opacity: 0.7;
                    transition: opacity 0.2s;

                    &:hover {
                        opacity: 1;
                    }
                }

                span {
                    color: white;
                    font-size: 16px;
                    padding-left: 10px;
                    border-left: 1px solid #bdc3c7;
                }
            }
        }

        .save {
            background: linear-gradient(90deg, #0068ef, #0040a4);
            color: white;
            width: 15%;
            min-width: 100px;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: #0040a4;
            }
        }
    }

    .tabs {
        grid-area: tabs;
        grid-area: tabs;
        color: white;
        padding: 10px 20px;

        div {
            border: 1px solid #6e6e6e;
            width: fit-content;
            border-radius: 10px;

            button {
                padding: 10px;
                position: relative;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.212);
                }

                &.active {
                    border-radius: 10px;
                    background-color: #131622;
                }

                &:not(.active, .add-tab, :has(~ .active))::before {
                    content: '';
                    position: absolute;
                    top: 15%;
                    right: 0;
                    width: 1px;
                    height: 70%;
                    background-color: white;
                }

                &.add-tab {
                    position: relative;
                    width: 40px;
                    height: 30px;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        height: 0;
                        width: 20px;
                        border: 1px solid white;
                    }

                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }

    .canvas-container {
        position: relative;
        grid-area: canvas;
        border: 1px solid #bdc3c7;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;


        canvas,
        img {
            // width: fit-content;
            height: 100%;
        }

        canvas {
            position: absolute;
            // top: 0;
            // left: 25%;
        }
    }
}